body {
  color: #009efd;
  font-family: 'Exo 2', sans-serif;
  height: 100%;
}

html, #root {
  margin: 0;
  height: 100%;
}

.App {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
 	background-blend-mode: normal, multiply;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

/* NAVIGATION */
.navigation {
  margin: auto;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2em;
  line-height: 3em;
  flex-wrap: wrap;
  padding: 0 50px 0 50px;
}

.nav-item {
  text-align: center;
  padding: 0 15px 0 15px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.nav-item:hover {
  transform: scale(1.1);
}

.nav-item span {
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  z-index: 2;
}

.active-blob {
  height: 20px;
  width: 20px;
  margin: auto;
  display: flex;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border-radius: 40px;
  position: absolute;
  top: 5px;
  left: 50%;
}

.nav-item:nth-child(1) span {
  background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item:nth-child(2) span {
  background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item:nth-child(3) span {
  background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item:nth-child(4) span {
  background: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item:nth-child(5) span {
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.weather-container {
  text-transform: uppercase;
  margin: auto;
  max-width: 600px;
  padding: 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center
}

/*
  GRID STYLES
*/
.weather-summary {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  text-align: center;
}

.box {
  padding: 20px;
  font-size: 3em;
}

.box span {
  display: block;
}

.weather-temp {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.weather-temp .large-text {
  font-family: 'Lilita One', cursive;
  margin: auto;
  background-image: linear-gradient(to top, #c71d6f 0%, #d09693 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.large-text {
  font-size: 2.5em;
}

.weather-text {
  grid-column: 3 ;
  grid-row: 1 / span 2;
  word-wrap: normal;
  font-size: 1.5em;
}

.small-text {
  font-size: 0.5em;
}

.text-title {
  font-weight: bold;
}

.weather-icon {
  font-size: 6em;
}

.weather-small-icon {
  font-size: 2em;
}


/* EXTERNAL BUTTON */
.external-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 2em;
}

.external-link:hover {
  transform: scale(1.2)
}


/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .nav-item {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 768px) {
  .weather-summary {
    grid-template-columns: 100px 100px 150px;
  }

  .large-text {
    font-size: 1.2em;
  }

  .weather-icon {
    font-size: 3em;
  }

  .weather-small-icon {
    font-size: 1.2em;
  }

  .text-title {
    font-size: 16px;
  }

  .small-text {
    font-size: 0.3em;
  }

  .nav-item {
    padding: 0 5px 0 5px;
    line-height: 50px;
  }

  .active-blob {
    height: 15px;
    width: 15px;
    top: -10px;
  }

  .external-link {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 425px) {
}

@media screen and (max-width: 320px) {
  .weather-summary {
    grid-template-columns: 80px 80px 130px;
  }

  .large-text {
    font-size: 0.9em;
  }

  .weather-icon {
    font-size: 2.5em;
  }
  
  .weather-small-icon {
    font-size: 0.8em;
  }

  .text-title {
    font-size: 16px;
  }

  .small-text {
    font-size: 0.2em;
  }
}